<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="emp" class="com.lnt.core.services.Employee">
<property name="eid" value="101"></property>
<property name="ename" value="Madhuri"></property>
<property name="esal" value="10000"></property>
<property name="ecommision" value="100"></property>
<property name="department" ref="department"></property>
</bean>
<bean id="department" class="com.lnt.core.services.Department" >
<property name="did" value="201"></property>
<property name="dname" value="IT"></property>
<property name="dlocation" value="Mumbai"></property>
</bean>
</beans>